@import './fonts.css';
@import './tailwind.css';
@import './theme.css';

html {
  scroll-behavior: smooth;
}

* {
  cursor: none !important;
}

@media (max-width: 768px) {
  * {
    cursor: auto !important;
  }
}

html, body, #root {
  isolation: auto !important;
  transform: none !important;
  filter: none !important;
}