@import 'tailwindcss' source(none);
@source '../**/*.{js,ts,jsx,tsx}';        /* case-study файлы */
@source '../../Home/**/*.{js,ts,jsx,tsx}'; /* Home файлы (если нужно) */
@import 'tw-animate-css';
@keyframes fade-in-up {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fade-in-up {
  animation: fade-in-up 0.7s ease-out forwards;
}